<div class="wrapper">




    <div class="project">
        <img ng-src="images/bookmarkd.png" alt="Bookmarkd">
        <a href="https://bookmarkd-gc.herokuapp.com">Bookmarkd</a>
        <!-- <h3>Home</h3> -->
        <p>Web app designed to be used by students in the classroom. Students can register, log books, and unlock trophies based on books read. Built using AngularJS and Bootstrap utilizing a database.</p>
    </div>

    <div class="project">
        <img src="http://www.northumberlandnews.com/portals/_default/skins/zuza/images/nocontentimage.jpg" alt="image">
        <a href="#">CSS</a>
        <!-- <h3>Home</h3> -->
        <p>hakjsfghakj;sfghakjsh</p>
    </div>


    <div class="project">
        <img src="http://www.northumberlandnews.com/portals/_default/skins/zuza/images/nocontentimage.jpg" alt="image">
        <a href="#">Resume</a>
        <!-- <h3>Home</h3> -->
        <p>hakjsfghakj;sfghakjsh</p>
    </div>


</div>
